@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans/open-sans.eot"); /* IE9 Compat Modes */
  src: url("../fonts/open-sans/open-sans.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans/open-sans.svg") format("svg"),
    /* Legacy iOS */ url("../fonts/open-sans/open-sans.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/open-sans/open-sans.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans/open-sans.woff2")
      format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/open-sans-light/open-sans-light.eot"); /* IE9 Compat Modes */
  src: url("../fonts/open-sans-light/open-sans-light.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans-light/open-sans-light.svg")
      format("svg"),
    /* Legacy iOS */ url("../fonts/open-sans-light/open-sans-light.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans-light/open-sans-light.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-light/open-sans-light.woff2")
      format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
