<section class="about" id="about">
    <div class="container">
        <h2 class="about__title visually-hidden">Investmant banking, portfolio manager, tax and custudio</h2>
        <ul class="about__list">
            <li class="about__item">
                <div class="about__card">
                    <i class="fas fa-university fa-2x"></i>
                    <h3 class="about__card-title">Investmant Banking</h3>
                    <p class="about__card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>
                </div>
            </li>
            <li class="about__item">
                <div class="about__card">
                    <i class="fas fa-book-reader fa-2x"></i>
                    <h3 class="about__card-title">Portfolio Manager</h3>
                    <p class="about__card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus</p>
                </div>
            </li>
            <li class="about__item">
                <div class="about__card">
                    <i class="fas fa-pencil-alt fa-2x"></i>
                    <h3 class="about__card-title">Tax & Custudio</h3>
                    <p class="about__card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus</p>
                </div>
            </li>
        </ul>
    </div>
</section>