<section class="about" id="about">
    <div class="container">
        <h2 class="about__title visually-hidden">Investmant banking, portfolio manager, tax and custudio</h2>
        <ul class="about__list">
            <li class="about__item icon-university">
                <h3 class="about__item-title">Investmant Banking</h3>
                <p class="about__item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>
            </li>
            <li class="about__item icon-book">
                <h3 class="about__item-title">Portfolio Manager</h3>
                <p class="about__item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus</p>
            </li>
            <li class="about__item icon-pencil">
                <h3 class="about__item-title">Tax & Custudio</h3>
                <p class="about__item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus</p>
            </li>
        </ul>
    </div>
</section>