<section class="blog" id="blog">
    <div class="container container__half-size">
        <p class="blog__uptitle" datetime="2020-04-16">April 16 2020</p>
        <h2 class="blog__title">Blog Post One</h2>
        <p class="blog__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?</p>
        <a class="btn" href="#" >Read Our Blog</a>
    </div>
</section>