<section class="cases" id="cases">
    <div class="container">
        <p class="cases__uptitle">This is what we do</p>
        <h2 class="cases__title">Business Cases</h2>
        <p class="cases__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
            <ul class="cases__gallery gallery-list">
                <li class="gallery-list__item">
                    <img class="gallery-list__img" src="https://placehold.it/264x176" alt="case one">
                </li>
                <li class="gallery-list__item">
                    <img class="gallery-list__img" src="https://placehold.it/264x176" alt="case two">
                </li>
                <li class="gallery-list__item">
                    <img class="gallery-list__img" src="https://placehold.it/264x176" alt="case three">
                </li>
                <li class="gallery-list__item">
                    <img class="gallery-list__img" src="https://placehold.it/264x176" alt="case four">
                </li>
                <li class="gallery-list__item">
                    <img class="gallery-list__img" src="https://placehold.it/264x176" alt="case five">
                </li>
                <li class="gallery-list__item">
                    <img class="gallery-list__img" src="https://placehold.it/264x176" alt="case six">
                </li>
                <li class="gallery-list__item">
                    <img class="gallery-list__img" src="https://placehold.it/264x176" alt="case seven">
                </li>
                <li class="gallery-list__item">
                    <img class="gallery-list__img" src="https://placehold.it/264x176" alt="case eight">
                </li>
            </ul>
    </div>
</section>