<section class="cases" id="cases">
    <div class="container">
        <p class="cases__uptitle">This is what we do</p>
        <h2 class="cases__title">Business Cases</h2>
        <p class="cases__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
            <ul class="cases__grid-container">
                <li class="cases__grid--one">
                    <img class="cases__grid-img" src="../../assets/images/mobile/cases/case1.jpg" alt="case one">
                </li>
                <li class="cases__grid--two">
                    <img class="cases__grid-img" src="../../assets/images/mobile/cases/case2.jpg" alt="case two">
                </li>
                <li class="cases__grid--three">
                    <img class="cases__grid-img" src="../../assets/images/mobile/cases/case3.jpg" alt="case three">
                </li>
                <li class="cases__grid--four">
                    <img class="cases__grid-img" src="../../assets/images/mobile/cases/case4.jpg" alt="case four">
                </li>
                <li class="cases__grid--five">
                    <img class="cases__grid-img" src="../../assets/images/mobile/cases/case5.jpg" alt="case five">
                </li>
                <li class="cases__grid--six">
                    <img class="cases__grid-img" src="../../assets/images/mobile/cases/case6.jpg" alt="case six">
                </li>
                <li class="cases__grid--seven">
                    <img class="cases__grid-img" src="../../assets/images/mobile/cases/case7.jpg" alt="case seven">
                </li>
                <li class="cases__grid--eight">
                    <img class="cases__grid-img" src="../../assets/images/mobile/cases/case8.jpg" alt="case eight">
                </li>
            </ul>
    </div>
</section>