<section class="contact" id="contact">
  <div class="container container__half-size">
    <form class="contact__form" action="" method="POST" data-netlify="true">
      <h2 class="contact__title">Request Callback</h2>
      <!-- <label for="user_name">Enter your name</label> -->
      <input
        class="contact__form-input"
        name="name"
        type="text"
        placeholder="Enter your name"
      />
      <!-- <label for="user_email">Enter email*</label> -->
      <input
        class="contact__form-input"
        name="email"
        type="email"
        placeholder="Enter email*"
      />
      <input class="btn btn--green btn--form" type="submit" value="Send" />
    </form>
  </div>
</section>
