<section class="features">
    <div class="container container__half-size">
        <p class="features__uptitle">What you are looking for</p>
        <h2 class="features__title">We provide bespoke solutions</h2>
        <p class="features__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?</p>
        <a class="btn" href="">Read More</a>
    </div>
</section>