<section class="team">
  <div class="container">
    <p class="team__uptitle">Who we are</p>
    <h2 class="team__title">Our Professional Team</h2>
    <p class="team__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team__grid-container">
      <li class="team__grid--one">
        <img
          class="team__avatar"
          src="../../assets/images/mobile/team/person1.jpg"
          alt="John Doe - President"
        />
        <h3 class="team__name">John Doe</h3>
        <p class="team__position">President</p>
      </li>
      <li class="team__grid--two">
        <img
          class="team__avatar"
          src="../../assets/images/mobile/team/person2.jpg"
          alt="Jane Doe - Vice president"
        />
        <h3 class="team__name">Jane Doe</h3>
        <p class="team__position">Vice President</p>
      </li>
      <li class="team__grid--three">
        <img
          class="team__avatar"
          src="../../assets/images/mobile/team/person3.jpg"
          alt="Steve Smith - Marketing head"
        />
        <h3 class="team__name">Steve Smith</h3>
        <p class="team__position">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
