.blog {
  color: $white;
  padding-bottom: 30px;

  background-color: $blue;

  @include breakpoint($tablet-bp) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  &::before {
    content: "";
    display: block;
    max-width: 100%;
    height: 247px;
    margin-bottom: 30px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* default image */
    background-image: url(../images/bg-images/mobile/blog.jpg);
    /* 2x screens image */
    @include retina2x($pxr-2x, $dpi-2x, $dpp-2x) {
      background-image: url(../images/bg-images/mobile/blog@2x.jpg);
    }
    /* 3x screens image */
    @include retina3x($pxr-3x, $dpi-3x, $dpp-3x) {
      background-image: url(../images/bg-images/mobile/blog@3x.jpg);
    }

    @include breakpoint($tablet-bp) {
      flex-basis: 50%;
      height: 468px;
      margin: 0;
      /* default image */
      background-image: url(../images/bg-images/tablet/blog.jpg);
      /* 2x screens image */
      @include retina2x($pxr-2x, $dpi-2x, $dpp-2x) {
        background-image: url(../images/bg-images/tablet/blog@2x.jpg);
      }
      /* 3x screens image */
      @include retina3x($pxr-3x, $dpi-3x, $dpp-3x) {
        background-image: url(../images/bg-images/tablet/blog@3x.jpg);
      }

      @include breakpoint($desktop-bp) {
        height: 517px;
        /* default image */
        background-image: url(../images/bg-images/desktop/blog.jpg);
        /* 2x screens image */
        @include retina2x($pxr-2x, $dpi-2x, $dpp-2x) {
          background-image: url(../images/bg-images/desktop/blog@2x.jpg);
        }
        /* 3x screens image */
        @include retina3x($pxr-3x, $dpi-3x, $dpp-3x) {
          background-image: url(../images/bg-images/desktop/blog@3x.jpg);
        }
      }
    }
  }
}

.blog__uptitle {
  @extend %subtitle;
  margin-bottom: 5px;

  @include breakpoint($tablet-bp) {
    font-size: 20px;
    line-height: 33px;
  }
}

.blog__title {
  @extend %title;
  margin-bottom: 25px;
}

.blog__text {
  @extend %text;
  margin-bottom: 14px;

  @include breakpoint($tablet-bp) {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  @include breakpoint($desktop-bp) {
    margin-bottom: 17px;
  }
}
