.btn {
  display: inline-block;
  @extend %text;
  color: $white;
  padding: 10px 30px 10px 26px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid $white;

  &--green {
    background-color: $green;
    border: none;
  }

  &--form {
    width: 100%;
    line-height: 22px;

    @include breakpoint($tablet-bp) {
      line-height: 25px;
    }
  }

  @include breakpoint($tablet-bp) {
    font-size: 18px;
    line-height: 28px;
  }
}
