.container {
  min-width: 320px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;

  @include breakpoint($tablet-bp) {
    min-width: 768px;
    padding-left: 28px;
    padding-right: 28px;
  }

//   @include breakpoint($desktop-bp) {
//     min-width: 1200px;
//     padding-left: 20px;
//     padding-right: 20px;
//   }
}
