.contact {
  background: #f4f4f4;
  padding-top: 26px;
  padding-bottom: 30px;

  &__form {
    &-input {
      display: block;
      width: 100%;
      height: 40px;
      background: #ffffff;
      border: 1px solid #f5f5f5;
      margin-bottom: 36px;
      padding-left: 5px;

      &:last-child {
          margin-bottom: 53px;
      }

      &::placeholder {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;

        color: #808080;
      }
    }
  }

  &__title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 48px;
    color: #333333;

    margin-bottom: 34px;
  }
}
