.header {
  position: absolute;
  display: block;
  width: 100%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: $z-index-header;

  @include breakpoint($tablet-bp) {
    top: 11px;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include breakpoint($tablet-bp) {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.nav__logo {
  @extend %subtitle;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 10px;

  cursor: pointer;
  transition: transform .4s ease-in-out;

  &--green {
    color: $green;
  }

  &:hover,
  :focus {
    transform: scale(1.1);
  }

  @include breakpoint($tablet-bp) {
    font-size: 35px;
    margin-bottom: 0;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 286px;

  @include breakpoint($tablet-bp) {
    width: 328px;
  }

  @include breakpoint($desktop-bp) {
    width: 410px;
  }
}

.nav__item {
  &:hover {
    .nav__link {
      border-bottom: 2px solid $green;
    }
  }
}

.nav__link {
  @extend %text;
  transition: transform .4s ease-in-out;

  &--active {
    border-bottom: 2px solid $green;
  }

  @include breakpoint($tablet-bp) {
    font-size: 18px;
    line-height: 28px;
  }
}

/* HEADER SECTION ICONS */
.fa-book-open {
  font-size: 35px;
  color: $green;
}
