.header {
  position: absolute;
  display: block;
  max-width: 100%;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: $z-index-header;
}

.nav {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__logo {
  @extend %subtitle;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 10px;

  cursor: pointer;

  &--green {
    color: $green;
  }
}

.nav__link {
  @extend %text;

  &--active {
    border-bottom: 2px solid $green;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 286px;
}

.icon-book-open {
  @extend %fa-icon;
  @extend .fas;

  &::before {
    content: fa-content($fa-var-book-open);
    // content: "\f518";
    font-size: 35px;
    color: $green;
  }
}
