.header {
  position: fixed;
  //   display: block;
  max-width: 100%;
  top: 0;
  padding-top: 10px;
  z-index: $z-index-header;
}

.nav {
  &__logo {
    position: relative;
    display: inline-block;
    @extend %subtitle;
    font-size: 32px;
    line-height: 42px;
    margin-left: 45px;
    margin-bottom: 10px;

    cursor: pointer;

    &::before {
      position: absolute;
      top: 5px;
      left: -45px;
      display: inline-flex;
      content: "";
      width: 40px;
      height: 35px;
      background-image: url(../images/icons/book-open.svg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--green {
      color: $green;
    }
  }

  &__link {
      @extend %text;

      &--active {
          border-bottom: 2px solid $green;
      }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
