.hero {
  width: 100%;
  height: 533px;
  text-align: center;

  background-color: $black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* default image */
  background-image: $img-gradient, url(../images/bg-images/mobile/showcase.jpg);
  /* 2x screens image */
  @include retina2x($pxr-2x, $dpi-2x, $dpp-2x) {
    background-image: $img-gradient,
      url(../images/bg-images/mobile/showcase@2x.jpg);
  }
  /* 3x screens image */
  @include retina3x($pxr-3x, $dpi-3x, $dpp-3x) {
    background-image: $img-gradient,
      url(../images/bg-images/mobile/showcase@3x.jpg);
  }

  @include breakpoint($tablet-bp) {
    height: 1024px;

    /* default image */
    background-image: $img-gradient,
      url(../images/bg-images/tablet/showcase.jpg);
    /* 2x screens image */
    @include retina2x($pxr-2x, $dpi-2x, $dpp-2x) {
      background-image: $img-gradient,
        url(../images/bg-images/tablet/showcase@2x.jpg);
    }
    /* 2x screens image */
    @include retina3x($pxr-3x, $dpi-3x, $dpp-3x) {
      background-image: $img-gradient,
        url(../images/bg-images/tablet/showcase@3x.jpg);
    }
  }

  @include breakpoint($desktop-bp) {
    height: 768px;

    /* default image */
    background-image: $img-gradient,
      url(../images/bg-images/desktop/showcase.jpg);
    /* 2x screens image */
    @include retina2x($pxr-2x, $dpi-2x, $dpp-2x) {
      background-image: $img-gradient,
        url(../images/bg-images/desktop/showcase@2x.jpg);
    }
    /* 2x screens image */
    @include retina3x($pxr-3x, $dpi-3x, $dpp-3x) {
      background-image: $img-gradient,
        url(../images/bg-images/desktop/showcase@3x.jpg);
    }
  }
}

.hero__title {
  @extend %title;
  font-size: 52px;
  line-height: 66px;
  color: $whisper;
  padding-top: 144px;
  margin-bottom: 16px;

  @include breakpoint($tablet-bp) {
    font-size: 55px;
    padding-top: 407px;
    margin-bottom: 25px;
  }

  @include breakpoint($desktop-bp) {
    padding-top: 279px;
  }
}

.hero__subtitle {
  @extend %subtitle;
  font-size: 22px;
  line-height: 37px;
  color: $whisper;
  margin-bottom: 25px;

  @include breakpoint($tablet-bp) {
    margin-bottom: 29px;
  }
}

.btn {

}
