.team {
  color: $black;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: $white;

  @include breakpoint($tablet-bp) {
    padding-bottom: 59px;
  }
}

.team__uptitle {
  @extend %subtitle;
  margin-bottom: 15px;

  @include breakpoint($tablet-bp) {
    font-size: 20px;
    line-height: 33px;
  }
}

.team__title {
  @extend %title;
  margin-bottom: 35px;
}

.team__text {
  @extend %text;
  margin-bottom: 35px;

  @include breakpoint($tablet-bp) {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 49px;
  }

  @include breakpoint($desktop-bp) {
    margin-bottom: 45px;
  }
}

.team__avatar {
  @extend %image;
  margin-bottom: 15px;
}

.team__name {
  @extend %text;
  font-size: 23px;
  line-height: 29px;

  margin-bottom: 12px;

  @include breakpoint($tablet-bp) {
    font-size: 25px;
    line-height: 32px;
  }
}

.team__position {
  @extend %text;

  @include breakpoint($tablet-bp) {
    font-size: 18px;
    line-height: 28px;
  }
}
