<footer class="footer">
  <div class="container">
    <ul class="footer__list">
      <li class="footer__item">
          <a class="footer__link" href="#" aria-label="Facebook">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
      <li class="footer__item">
          <a class="footer__link" href="#" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
      <li class="footer__item">
          <a class="footer__link" href="#" aria-label="YouTube">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
      <li class="footer__item">
          <a class="footer__link" href="#" aria-label="Linkedin">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
    </ul>
    <p class="footer__copyright">
        Copyright &#169; 2021 - FinanceLedger
    </p>
  </div>
</footer>
